# Ignore everything
*

# But don't ignore these directories and their contents
!/out/
!/out/**
!/.github/
!/.github/**
!/app/
!/app/**
!/public/
!/public/**

# And don't ignore these files
!.gitignore
!.nojekyll
!package.json
!package-lock.json
!next.config.mjs
!tailwind.config.js
!postcss.config.js
!tsconfig.json
!next-env.d.ts

# But still ignore these
node_modules/
.next/