# Ignore everything
*

# But don't ignore these directories and their contents
!/out/
!/out/**
!/.github/
!/.github/**

# And don't ignore these files
!.gitignore
!.nojekyll
!package.json
!next.config.mjs
!tailwind.config.js
!postcss.config.js
!tsconfig.json

# But still ignore these
node_modules/
.next/